redis:
  host: localhost
  port: 6379

proxy:
  type: SOCKS5
  host: localhost
  port: 1080

accounts:
  - type: fcoin
    id: fcoin_main
    key:
    secret:
    contract:
      base: btc
      quote: usdt
      amount: 0.01
      scale: 2

markets:
  - type: fcoin
    symbols:
      - btcusdt

traders:
  - class: xyz.homebrew.app.strategy.JavaTrader
    accounts:
      - fcoin_main
    watches:
      - fcoin

