redis:
  host: localhost
  port: 6379

proxy:
  type: SOCKS5
  host: localhost
  port: 1080

accounts:
  - type: fcoin
    id: fcoin_main
    baseCurrency: btc
    quoteCurrency: usdt
    baseCurrencyScale: 4
    quoteCurrencyScale: 2
    key:
    secret:

traders:
  - class: xyz.homebrew.app.strategy.ClojureTrader
    accounts:
      - fcoin_main
    watches:
      - fcoin
